.MuiTextField-root input {
    /* 14.5px = 18.5px - 4px (note: 18.5px is the input's default padding top and bottom) */
    padding-top: 5px;
    padding-bottom: 3px; 
    width: 30px;
}

.MuiButton-root{
    min-width: 0px;
}
.MuiButton{
    min-width: 0px;
}

