.matter-box {
  position: relative;

  .matter-iframe {
    height: 100%;
    width: 100%;
  }

  .overlay-container {
    position: absolute;
    width: 250px;
    height: 500px;
    border-color: black;
    top:5%;
    left: 50%;
    z-index: 999;
  }
}

.error {
  color: red;
}



